## Steps
1. Download all raw data for a given year and month
1. For each raw data, apply the filter before saving it
1. Transform the saved raw data into TS data
1. Convert the ts data into features and targets
1. Save the transformed data


Main objective is to write utility functions to do all these things so we can reuse them later.

In [23]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Now you can import from src
from src.data_utils import load_and_process_bike_data

In [28]:
rides = load_and_process_bike_data(year=2023)

Downloading data for 2023-01...
JC-202301-citibike-tripdata.csv
Successfully downloaded data for 2023-01.
Loading data for 2023-01...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 56,075
Valid records: 56,013
Records dropped: 62 (0.11%)
Successfully processed data for 2023-01.
Downloading data for 2023-02...
JC-202302-citibike-tripdata.csv
Successfully downloaded data for 2023-02.
Loading data for 2023-02...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 51,213
Valid records: 51,173
Records dropped: 40 (0.08%)
Successfully processed data for 2023-02.
Downloading data for 2023-03...
JC-202303-citibike-tripdata.csv
Successfully downloaded data for 2023-03.
Loading data for 2023-03...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 63,072
Valid records: 63,009
Records dropped: 63 (0.10%)
Successfully processed data for 2023-03.
Downloading data for 2023-04...
JC-202304-citibike-tripdata.csv
Successfully downloaded data for 2023-04.
Loading data for 2023-04...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 80,688
Valid records: 80,605
Records dropped: 83 (0.10%)
Successfully processed data for 2023-04.
Downloading data for 2023-05...
JC-202305-citibike-tripdata.csv
Successfully downloaded data for 2023-05.
Loading data for 2023-05...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 96,002
Valid records: 95,761
Records dropped: 241 (0.25%)
Successfully processed data for 2023-05.
Downloading data for 2023-06...
JC-202306-citibike-tripdata.csv
Successfully downloaded data for 2023-06.
Loading data for 2023-06...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 97,023
Valid records: 96,863
Records dropped: 160 (0.16%)
Successfully processed data for 2023-06.
Downloading data for 2023-07...
JC-202307-citibike-tripdata.csv
Successfully downloaded data for 2023-07.
Loading data for 2023-07...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 106,608
Valid records: 106,452
Records dropped: 156 (0.15%)
Successfully processed data for 2023-07.
Downloading data for 2023-08...
JC-202308-citibike-tripdata.csv
Successfully downloaded data for 2023-08.
Loading data for 2023-08...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 112,027
Valid records: 111,867
Records dropped: 160 (0.14%)
Successfully processed data for 2023-08.
Downloading data for 2023-09...
JC-202309-citibike-tripdata.csv
Successfully downloaded data for 2023-09.
Loading data for 2023-09...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 94,233
Valid records: 94,084
Records dropped: 149 (0.16%)
Successfully processed data for 2023-09.
Downloading data for 2023-10...
JC-202310-citibike-tripdata.csv
Successfully downloaded data for 2023-10.
Loading data for 2023-10...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 97,584
Valid records: 97,456
Records dropped: 128 (0.13%)
Successfully processed data for 2023-10.
Downloading data for 2023-11...
JC-202311-citibike-tripdata.csv
Successfully downloaded data for 2023-11.
Loading data for 2023-11...

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

Total records: 75,646
Valid records: 75,588
Records dropped: 58 (0.08%)
Successfully processed data for 2023-11.
Downloading data for 2023-12...
JC-202312-citibike-tripdata.csv
Successfully downloaded data for 2023-12.
Loading data for 2023-12...
Total records: 58,680
Valid records: 58,596
Records dropped: 84 (0.14%)
Successfully processed data for 2023-12.
Combining all monthly data...
Data loading and processing complete!

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:93: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  "tpep_pickup_datetime": "pickup_datetime",

In [56]:
rides

           pickup_datetime pickup_location_id         pickup_hour
0      2023-01-01 00:06:36              JC102 2023-01-01 00:00:00
1      2023-01-01 00:07:48              JC098 2023-01-01 00:00:00
2      2023-01-01 00:10:11              JC002 2023-01-01 00:00:00
3      2023-01-01 00:10:12              JC103 2023-01-01 00:00:00
4      2023-01-01 00:15:26              HB402 2023-01-01 00:00:00
...                    ...                ...                 ...
987462 2023-12-31 23:49:41              JC078 2023-12-31 23:00:00
987463 2023-12-31 23:49:44              JC078 2023-12-31 23:00:00
987464 2023-12-31 23:50:04              HB608 2023-12-31 23:00:00
987465 2023-12-31 23:52:52              JC023 2023-12-31 23:00:00
987466 2023-12-31 23:59:57              JC109 2023-12-31 23:00:00

[987467 rows x 3 columns]

In [57]:
from src.data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data.head()

C:\Users\HP\Downloads\sp25_taxi-main\src\data_utils.py:287: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  # The first `window_size` values are features, and the next value is the target

          pickup_hour pickup_location_id  rides
0 2023-01-01 00:00:00              HB101      1
1 2023-01-01 01:00:00              HB101      4
2 2023-01-01 02:00:00              HB101      0
3 2023-01-01 03:00:00              HB101      0
4 2023-01-01 04:00:00              HB101      0

In [58]:
ts_data.shape

(753360, 3)

In [32]:
from src.data_utils import transform_ts_data_info_features_and_target_loop

features, targets = transform_ts_data_info_features_and_target_loop(ts_data, window_size=24*28, step_size=24)

In [33]:
features

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
0,1,4,0,0,0,0,0,1,0,2,...,12,8,4,3,4,1,4,2,2023-01-29,HB101
1,1,1,0,0,0,0,0,0,3,3,...,5,3,5,4,3,0,0,1,2023-01-30,HB101
2,1,0,0,0,0,0,0,2,6,1,...,3,11,15,3,5,1,0,0,2023-01-31,HB101
3,0,0,0,0,0,0,0,2,4,0,...,6,15,12,5,1,1,0,0,2023-02-01,HB101
4,0,0,0,0,0,0,0,2,4,1,...,5,12,9,1,4,1,2,0,2023-02-02,HB101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28977,1,0,0,0,0,0,0,1,1,0,...,0,2,0,0,2,11,0,0,2023-12-27,JC116
28978,0,0,0,0,0,0,0,1,3,1,...,3,7,3,2,1,0,0,1,2023-12-28,JC116
28979,0,1,2,0,0,0,0,2,3,1,...,5,1,3,2,2,0,0,1,2023-12-29,JC116
28980,1,1,2,0,0,0,0,0,2,3,...,4,2,4,0,2,1,0,2,2023-12-30,JC116
28981,0,0,0,0,0,0,0,0,0,0,...,4,1,0,1,0,1,4,1,2023-12-31,JC116

In [59]:
from src.data_utils import transform_ts_data_info_features_and_target_loop

features, targets = transform_ts_data_info_features_and_target_loop(ts_data, window_size=24*28*1, step_size=12)

In [60]:
tabular_data = features
tabular_data["target"] = targets

from src.config import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet", engine="pyarrow")

In [61]:
features, targets = transform_ts_data_info_features_and_target_loop(ts_data[ts_data["pickup_location_id"]=='HB101'], window_size=12, step_size=1)

In [62]:
from src.data_utils import transform_ts_data_info_features_and_target

features, targets = transform_ts_data_info_features_and_target(ts_data[ts_data["pickup_location_id"]=='HB101'], window_size=4, step_size=1)

In [63]:
features

,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
0,1,4,0,0,2023-01-01 04:00:00,HB101
1,4,0,0,0,2023-01-01 05:00:00,HB101
2,0,0,0,0,2023-01-01 06:00:00,HB101
3,0,0,0,0,2023-01-01 07:00:00,HB101
4,0,0,0,1,2023-01-01 08:00:00,HB101
...,...,...,...,...,...,...
8751,2,0,5,2,2023-12-31 19:00:00,HB101
8752,0,5,2,0,2023-12-31 20:00:00,HB101
8753,5,2,0,1,2023-12-31 21:00:00,HB101
8754,2,0,1,0,2023-12-31 22:00:00,HB101
8755,0,1,0,0,2023-12-31 23:00:00,HB101

In [51]:
from src.data_utils import transform_ts_data_info_features_and_target

In [52]:
features, targets = transform_ts_data_info_features_and_target(ts_data[ts_data["pickup_location_id"]=='HB101'], window_size=4, step_size=1)

In [55]:
features.shape

(8756, 6)